@import url('https://fonts.googleapis.com/css2?family=Playfair:opsz@5..1200&family=Poppins&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins;

}

body{
    background: #f8f8f8;
}
/* Inicio Menu */
.header{
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  padding: 0 10% 0 2%;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.imglogo{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 15px 10px 15px;
  width: 50px;
  height: auto;
  float: left;
}
/*Logo Adapv*/
.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  margin: 20px 10px 10px 0;
  font-size: 25px;
  color:white;
  text-decoration: none;
  font-weight: 600;
  
}

.bn{
  color: white;
  font-size:18px;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: 0.5s;
}
.bn a:hover{
  color: orange;
}
.topo{
  display: flex;
  align-items: center;
  background: url(retrato-de-cao-pastor-alemao-em-iluminacao-gradiente.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.blocktexto{
  align-items: center;
  margin: 150px 0 0 200px;
  width: 600px;
}
.titulo{
  display: flex;
  color: white;
  font-size: 40px;
  font-weight: bolder;
}
.textotopo{
  display: flex;
  text-align: left;
  color: white;

}
.adoption-section {
  padding: 40px;
  text-align: center;
}

.adoption-section h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.animal-card {
  width: 300px;
  height: auto;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.animal-card img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}

.animal-card h3 {
  font-size: 24px;
  margin-bottom: 5px;
}

.animal-card p {
  font-size: 16px;
  margin-bottom: 10px;
}

.animal-card .adoption-button {
  display: inline-block;
  background-color: #ff8000;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
}

.footer {
  background-color: black;
  color: #fff;
  padding: 20px;
  text-align: center;
}
.adotar{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.imagem{
  width: 200px;
  height: auto;
}
.fundo{
  display: flex;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: #b65b01;
  padding: 0 10px 0 10px;
  justify-content: space-between;
}
.cpyrght{
  color: white;
}
.dsnvlvd{
  color: white;
}