
@import url('https://fonts.googleapis.com/css2?family=Playfair:opsz@5..1200&family=Poppins&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins;

}
/*Fundo de Tela*/
body{
    background: transparent;
}
/* Inicio Menu*/
.header{
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    padding: 0 10% 0 2%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.imglogo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 15px 10px 15px;
    width: 50px;
    height: auto;
    float: left;
}
/*Logo Adapv*/
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    margin: 20px 10px 10px 0;
    font-size: 25px;
    color:white;
    text-decoration: none;
    font-weight: 600;
    
}
.bn{
    color: white;
    font-size:18px;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 0.5s;
}
.bn a:hover{
    color: orange;
}
/*Final Menu*/
/* Inicio Texto */
.aps{
    align-items: center;
    background: url(vista-frontal-de-um-lindo-cachorro-com-espaco-de-copia.jpg), no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    height: 100vh;
    padding: 0% 10px;
}
.apstext{
    max-width: 600px;
}
.apstext h1{
    font-size: 56px;
    font-weight: 700px;
}
.apstext h3{
    font-size: 32px;
    font-weight: 700px;
    color:white
}
.apstext p{
    font-size: 16px;
    margin: 20px 0 40px;
}
.apstext .btn{
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}
/* Final Texto*/

/* Botão Personalizar */
/* Botão 1 + Animação */
.btn a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: transparent;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 19px;
    color:white;
    text-decoration: none;
    font-weight: 600px;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
}
/* Botão 2 */
.btn a:nth-child(2){
    background-color: transparent;
    color:white;

}
/* Botão 2 */
.btn a:nth-child(2)::before{
    background:black;
    overflow: hidden;

}
/* Botão 1 */
.btn a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background:black;
    z-index: -1;
    transition: 0.5s;
}
.btn a:hover::before{
    width: 100%;

}
/* Icone Personalizar */
.icone{
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;

}
/* Icone Personalizar p1 */
.icone a {
    justify-content: center;
    display: inline-flex;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: white;
    border: 2px solid transparent;
    border-radius: 50%;
    font-size: 20px;
    text-decoration: none;
}
/* Pagina 2 Fundo */
.pag2{
    background:wheat;
    color: white;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pt2 h1{
    color:black;
    height:300px;
    text-align: center;
}
.pag3{
    background: black;
    height: 600px;
}
.fundo{
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: #b65b01;
    padding: 0 10px 0 10px;
    justify-content: space-between;
  }
  .cpyrght{
    color: white;
  }
  .dsnvlvd{
    color: white;
  }
