@import url('https://fonts.googleapis.com/css2?family=Playfair:opsz@5..1200&family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Poppins;
}
body{
    background-color: #f8f8f8;
    margin-left: 60px;
}
.Htopo{
    box-shadow: 0 5px 5px #e7e7e7;
    padding: 0 0 60px 0;
    background-color: white;
}
.imglogo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 10px 10px 15px;
    width: 40px;
    height: auto;
    float: left;
}
.Htextologo{
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    margin: 20px 0 0 0;
}
.ctxt{
    color: #575a5b;
    text-decoration: none;
}
.titulo{
    color: #575a5b;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.Hvisitesite{
    display: flex;
    align-items: center;
    float: left;
    margin: 23px 0 0 0;
}
.imgiconedesite{
    margin-left: 90px;
    width: 20px;    
}
.linksite{
    font-size: smaller;
    color: black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
.menu{
    margin-left: 50px;
}


.titulopag{
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 50px 0 0 0;
}
.principal{
    display: flex;
    float: left;
    justify-content: center;
    align-items: center;
    margin: 20px 0 0 0;
    border-radius: 10px;
    height: 175px;
    box-shadow: -5px 5px 5px #e7e7e7;
    background-color: white;
}
.PRINbotao{
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 0 5px 5px #e7e7e7;
    margin: 10px;
    border: 2px solid #575a5b;
    border-radius: 10px;
    width: 150px;
    height: 140px;
}
.PRINicon{
    width: 85px;
}